@font-face {
  font-family: "Product Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"),
    url("../../fonts/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Product Sans Medium Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Regular"),
    url("../../fonts/ProductSans-Medium.woff") format("woff");
}

.container {
  padding: 0 10px;
  position: relative;
  max-width: 1860px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 70px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 140px;
  }
}
