:root {
  --dark-color: #212832;
  --darkest-color: #080809;
  --beige-color: #FFF1DA;
  --tomato-color: #DF6951;
  --darker-tomato-color: #F15A2B;
  --dark-blue-color: #181E4B;
  --dark-blue-color-2: #14183E;
  --dark-blue-color-3: #1E1D4C;
  --light-grayish-blue-color: #84829A;
  --grayish-blue-color: #5E6282;
  --orange-color: #F1A501;
  --gray-color: #686D77;
  --emerald-blue-color: #006380;
  --dark-yellow-color: #F0BB1F;
  --orange-tomato-color: #FF946D;
  --darker-orange-tomato-color: #FF7D68; 
}