.hero {
  height: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 97px;
  padding-top: 50px;
}

.header {
  display: none;
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
}

.nav {
  margin-right: 86px;
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.nav__link {
  color: var(--dark-color);
  @include font("Product Sans Regular", 400, 17px, 22px, 0);
}

.options {
  display: flex;
  align-items: center;
}

.options__signup {
  @include font("Product Sans Regular", 400, 17px, 22px, 0);
  color: var(--dark-color);
  margin-right: 42px;
  background-color: transparent;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  padding: 9px 22px;
}

.options__login {
  @include font("Product Sans Regular", 400, 17px, 22px, 0);
  color: var(--dark-color);
  margin-right: 52px;
}

.options__language {
  display: flex;
  align-items: center;
}

.options__language__name {
  @include font("Product Sans Regular", 400, 17px, 22px, 0);
  color: var(--dark-color);
  margin-right: 7px;
}

.hero__content {
  padding-top: 30px;
  display: flex;
  position: relative;
  @media screen and(min-width: 1024px) {
    padding-top: 0;
  }
  @media screen and(min-width: 1440px) {
    justify-content: end;
  }
}

.hero__desc {
  @media screen and(min-width: 1024px) {
    margin-top: 100px;
    max-width: 700px;
  }

  @media screen and(min-width: 1440px) {
    width: 545px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.hero__tagline {
  @include font("Poppins", 700, 20px, 30px, 0);
  text-transform: uppercase;
  color: var(--tomato-color);
  margin-bottom: 24px;
}

.hero__header {
  @include font("Volkhov", 700, 64px, 69px, -0.04em);
  color: var(--dark-blue-color);
  margin-bottom: 30px;
  @media screen and(min-width: 1024px) {
    @include font("Volkhov", 700, 84px, 89px, -0.04em);
  }
}

.hero__text {
  @include font("Poppins", 500, 16px, 30px, 0);
  color: var(--grayish-blue-color);
  margin-bottom: 34px;
}

.cta {
  display: flex;
  flex-direction: column;
  @media screen and(min-width: 450px) {
    flex-direction: row;
  }
}

.cta__findout {
  background-color: var(--orange-color);
  color: #fff;
  border: none;
  @include font("Product Sans Medium Regular", 500, 18px, 23px, 0);
  padding: 19px 27px;
  border-radius: 10px;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  margin-bottom: 20px;
  @media screen and(min-width: 450px) {
    margin-right: 44px;
    margin-bottom: 0;
  }
}

.cta__play {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  @include font("Poppins", 500, 17px, 26px, 0);
  color: var(--gray-color);
}

.cta__play-bg {
  background-color: var(--tomato-color);
  border-radius: 50%;
  height: 52px;
  width: 52px;
  min-width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 21px;
}

.hero__images {
  position: relative;
}

.hero__images-traveller {
  display: none;
  height: 765px;
  width: 765px;
  min-height: 765px;
  min-width: 765px;
  position: relative;
  z-index: 2;
  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.hero__images-plane_1 {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
    position: absolute;
    top: 70px;
    left: 90px;
  }
  @media screen and (min-width: 1440px) {
    left: 150px;
  }
}

.hero__images-plane_2 {
  position: absolute;
  top: 110px;
  right: 5px;
  z-index: -1;
  @media screen and (min-width: 1024px) {
    right: -80px;
  }
}

.decore {
  position: absolute;
  top: 0;
  right: 0;
}
